<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Reset your Password</h1>

    <p>Your new password is <%= @password %>
    <p>To log in, <%= link_to "click here", @url %>
  </body>
</html>